# Network interface to attach the ipvlan network to
PARENT_IFACE=eth0
# LAN subnet
LAN_SUBNET=192.168.1.0/24
# LAN gateway
LAN_GATEWAY=192.168.1.1
# Static IP to assign to the SFT container
CONTAINER_IP=192.168.1.201
